* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #333;
  padding-top: 20px;
  color: rgb(250, 250, 250);
}

.sidebar h2 {
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.sidebar a {
  display: block;
  color: rgb(250, 250, 250);
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.sidebar a.active {
  background-color: #555;
}

.content {
  margin-left: 270px;
  padding: 20px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-style: solid;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border-style: solid;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.return-button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 0.9em;
  font-family: sans-serif;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.scrollable-table {
  max-height: 400px; /* Set the maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling */
}

.flash-messages {
  margin-bottom: 20px;
}

.flash-message {
  padding: 10px;
  border-radius: 5px;
}

.success {
  background-color: #28a745;
  color: #fff;
}

.error {
  background-color: #dc3545;
  color: #fff;
}


#textbox-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
}
#textbox {
  width: 100%;
  height: 200px;
  resize: none; 
  overflow: auto;
  position: relative;
}
#submit-btn {
  position: absolute;
  top: -30px; 
  left: 0; 
}