<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Jail Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Sidebar navigation -->
    <div class="sidebar">
      <h2>City Jail Database</h2>
      <a href="{{ url_for('crimes', username=session['username']) }}">Crimes</a>
      <a href="{{ url_for('criminals', username=session['username']) }}"
        >Criminals</a
      >
      <a href="{{ url_for('alias', username=session['username']) }}">Alias</a>
      <a href="{{ url_for('sentences', username=session['username']) }}"
        >Sentences</a
      >
      <a href="{{ url_for('prob_officers', username=session['username']) }}"
        >Probation Officers</a
      >
      <a
        href="{{ url_for('crime_charges', username=session['username']) }}"
        class="active"
        >Crime Charges</a
      >
      <a href="{{ url_for('crime_officers', username=session['username']) }}"
        >Crime Officers</a
      >
      <a href="{{ url_for('officers', username=session['username']) }}"
        >Officers</a
      >
      <a href="{{ url_for('appeals', username=session['username']) }}"
        >Appeals</a
      >
      <a href="{{ url_for('crime_codes', username=session['username']) }}"
        >Crime Codes</a
      >
      <a href="{{ url_for('profile', username=session['username']) }}"
        >Profile</a
      >
    </div>

    <!-- Main content -->
    <div class="content">
      <h1>Crime Charges</h1>
      <div class="search-container">
        <form style="display: inline-block;"
          action="{{ url_for('crime_charges', username=session['username']) }}"
          method="GET"
        >
          <input type="text" placeholder="Enter Charge ID" name="charge_id" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <button type="button" id="clear" onclick="clearFilter()" style="display:{{displayMode}};">Clear Filter</button>
        <div class="scrollable-table">
          {{ data | safe }}
          <!-- Render the table data here -->
        </div>
    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
    <script>
      function clearFilter() {
        window.location.href = "{{ url_for('crime_charges', username=session['username']) }}";
      }
    </script>
  </body>
</html>
