<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Jail Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
</head>
<body>
    <!-- Sidebar navigation -->
    <div class="sidebar">
        <h2>City Jail Database</h2>
        <a href="{{ url_for('crimes') }}">Crimes</a>
        <a href="{{ url_for('criminals') }}">Criminals</a>
        <a href="{{ url_for('alias') }}">Alias</a>
        <a href="{{ url_for('sentences') }}">Sentences</a>
        <a href="{{ url_for('prob_officers') }}">Probation Officers</a>
        <a href="{{ url_for('crime_charges') }}">Crime Charges</a>
        <a href="{{ url_for('crime_officers') }}">Crime Officers</a>
        <a href="{{ url_for('officers') }}" class="active">Officers</a>
        <a href="{{ url_for('appeals') }}">Appeals</a>
        <a href="{{ url_for('crime_codes') }}">Crime Codes</a>
    </div>

    <!-- Main content -->
    <div class="content">
        <h1>Officers</h1>
        {{ data | safe }}
    </div>
</body>
</html>
