<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Jail Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // Function to clear input fields when modal is closed
      $(document).ready(function () {
        $("#filterModal").on("hidden.bs.modal", function () {
          // Clear input fields inside the form with id "filterForm"
          $("#filterForm")[0].reset();
        });
      });

      // Function to submit filter form
      function submitFilter() {
        var form = $("#filterForm").serialize();
        $.ajax({
          type: "GET",
          url: "{{ url_for('filter_prob_officers', username=session['username']) }}",
          data: form,
          success: function (data) {
            $(".scrollable-table").html(data); // Replace existing content with filtered data
            $("#filterModal").modal("hide");
          },
          error: function (xhr, status, error) {
            console.error("AJAX Error:", error);
          },
        });
      }

      function clearFilter() {
        window.location.href =
          "{{ url_for('prob_officers', username=session['username']) }}";
      }
    </script>
    <style>
      #insert-form input {
        width: 60px;
        height: 20px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <!-- Sidebar navigation -->
    <div class="sidebar">
      <h2>City Jail Database</h2>
      <a href="{{ url_for('crimes', username=session['username']) }}">Crimes</a>
      <a href="{{ url_for('criminals', username=session['username']) }}"
        >Criminals</a
      >
      <a href="{{ url_for('alias', username=session['username']) }}">Alias</a>
      <a href="{{ url_for('sentences', username=session['username']) }}"
        >Sentences</a
      >
      <a
        href="{{ url_for('prob_officers', username=session['username']) }}"
        class="active"
        >Probation Officers</a
      >
      <a href="{{ url_for('crime_charges', username=session['username']) }}"
        >Crime Charges</a
      >
      <a href="{{ url_for('crime_officers', username=session['username']) }}"
        >Crime Officers</a
      >
      <a href="{{ url_for('officers', username=session['username']) }}"
        >Officers</a
      >
      <a href="{{ url_for('appeals', username=session['username']) }}"
        >Appeals</a
      >
      <a href="{{ url_for('crime_codes', username=session['username']) }}"
        >Crime Codes</a
      >
      <a href="{{ url_for('profile', username=session['username']) }}"
        >Profile</a
      >
    </div>

    <!-- Main content -->
    <div class="content">
      <h1>Probation Officers</h1>

      <!-- Button to trigger the modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#filterModal"
      >
        Filter
      </button>

      <!-- Clear Filter button -->
      <button type="button" class="btn btn-secondary" onclick="clearFilter()">
        Clear Filter
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="filterModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="filterModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filterModalLabel">
                Filter Probation Officers Data
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="filterForm">
                {% if permission in ['employee', 'host'] %}
                <div class="form-group">
                  <label for="prob_id">Prob ID</label>
                  <input
                    type="text"
                    class="form-control"
                    id="prob_id"
                    name="prob_id"
                  />
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                  />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                  />
                </div>
                {% if permission in ['employee', 'host'] %}
                <div class="form-group">
                  <label for="street">Street</label>
                  <input
                    type="text"
                    class="form-control"
                    id="street"
                    name="street"
                  />
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                  />
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    name="state"
                  />
                </div>
                <div class="form-group">
                  <label for="zip">Zip</label>
                  <input type="text" class="form-control" id="zip" name="zip" />
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                  />
                </div>
                {% endif %}
                <div class="form-group">
                  <label for="status">Status</label>
                  <input
                    type="text"
                    class="form-control"
                    id="status"
                    name="status"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                onclick="submitFilter()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="scrollable-table" id="table-container">{{ data | safe }}</div>

      <div
        class="Insert"
        style="display:{% if permission != 'host' %}none{% else %}inline-block{% endif %};
      margin-top: 30px; width: 800px; "
      >
        <h2 style="font-size: 30px">Insert Probation Officer</h2>
        <form id="insert-form">
          <div
            id="insert-form-div"
            style="max-height: 200px; overflow-y: scroll"
          >
            <button id="addRows" type="button" onclick="insertRow()">
              <i class="fa-solid fa-plus"></i>
            </button>
            <button id="deleteRows" type="button" onclick="deleteRow()">
              <i class="fa-solid fa-minus"></i>
            </button>
            <br />
            <br />
            <div style="width: 100%">
              <label for="prob_id0">Prob ID</label>
              <input type="text" id="prob_id0" name="prob_id[]" />

              <label for="firstName0">First Name</label>
              <input type="text" id="firstName0" name="firstName[]" />

              <label for="lastName0">Last Name</label>
              <input type="text" id="lastName0" name="lastName[]" />

              <label for="street0">Street</label>
              <input type="text" id="street0" name="street[]" />

              <label for="city0">City</label>
              <input type="text" id="city0" name="city[]" />

              <label for="state0">State</label>
              <input type="text" id="state0" name="state[]" />

              <label for="zip0">Zip</label>
              <input type="text" id="zip0" name="zip[]" />

              <label for="phone0">Phone</label>
              <input type="text" id="phone0" name="phone[]" />

              <label for="email0">Email</label>
              <input type="text" id="email0" name="email[]" />

              <label for="status0">Status</label>
              <input type="text" id="status0" name="status[]" />
              <br />
              <br />
            </div>
          </div>
          <div
            id="error_message"
            style="font-size: small; display: inline-block; clear: both"
          ></div>
          <button
            id="insertButton"
            type="submit"
            onclick="submitForm()"
            style="margin-left: 80%; display: inline-block"
          >
            Insert
          </button>
        </form>
      </div>
    </div>
    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>

    <script>
      var count = 1;
      function insertRow() {
        var newdiv = document.createElement("div");
        newdiv.style = "width: 100%;";
        newdiv.innerHTML = ` 
          <label for="prob_id${count}">Prob ID</label>
          <input type="text" id="prob_id${count}" name="prob_id[]" />
          <label for="firstName${count}">First Name</label>
          <input type="text" id="firstName${count}" name="firstName[]" />
          <label for="lastName${count}">Last Name</label>
          <input type="text" id="lastName${count}" name="lastName[]" />
          <label for="street${count}">Street</label>
          <input type="text" id="street${count}" name="street[]" />
          <label for="city${count}">City</label>
          <input type="text" id="city${count}" name="city[]" />
          <label for="state${count}">State</label>
          <input type="text" id="state${count}" name="state[]" />
          <label for="zip${count}">Zip</label>
          <input type="text" id="zip${count}" name="zip[]" />
          <label for="phone${count}">Phone</label>
          <input type="text" id="phone${count}" name="phone[]" />
          <label for="email${count}">Email</label>
          <input type="text" id="email${count}" name="email[]" />
          <label for="status${count}">Status</label>
          <input type="text" id="status${count}" name="status[]" />
          <br />
          <br />
         `;
        document.getElementById("insert-form-div").appendChild(newdiv);
        count++;
      }
      function deleteRow() {
        var lastDivChild = document.querySelector(
          "#insert-form-div > div:last-child"
        );
        // it is id selector, so it will only select the last child of the div
        if (count > 1) {
          document.getElementById("insert-form-div").removeChild(lastDivChild);
          count--;
        }
      }
      function submitForm() {
        event.preventDefault();
        //prevent reload my page
        var form = document.getElementById("insert-form");
        var formData = new FormData(form);
        //asynchronous request to the server, it will not reload the page
        var xhr = new XMLHttpRequest();
        xhr.open(
          "POST",
          "{{ url_for('prob_officers', username=session['username']) }}?action=insert",
          true
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            document.getElementById("table-container").innerHTML =
              xhr.responseText;
            document.getElementById("insert-form").reset();
            //clear the form after insert successfully
          } else if (xhr.readyState === 4 && xhr.status !== 200) {
            var error_message = document.getElementById("error_message");
            if (error_message != null) {
              error_message.innerHTML = xhr.responseText;
            }
          }
        };
        xhr.send(formData);
      }
    </script>
  </body>
</html>
