<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Jail Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Sidebar navigation -->
    <div class="sidebar">
      <h2>City Jail Database</h2>
      <a href="{{ url_for('crimes', username=session['username']) }}">Crimes</a>
      <a href="{{ url_for('criminals', username=session['username']) }}"
        >Criminals</a
      >
      <a href="{{ url_for('alias', username=session['username']) }}">Alias</a>
      <a href="{{ url_for('sentences', username=session['username']) }}"
        >Sentences</a
      >
      <a href="{{ url_for('prob_officers', username=session['username']) }}"
        >Probation Officers</a
      >
      <a href="{{ url_for('crime_charges', username=session['username']) }}"
        >Crime Charges</a
      >
      <a href="{{ url_for('crime_officers', username=session['username']) }}"
        >Crime Officers</a
      >
      <a href="{{ url_for('officers', username=session['username']) }}"
        >Officers</a
      >
      <a
        href="{{ url_for('appeals', username=session['username']) }}"
        >Appeals</a
      >
      <a href="{{ url_for('crime_codes', username=session['username']) }}"
        >Crime Codes</a
      >
      <a href="{{ url_for('profile', username=session['username']) }}"
      class="active"
        >Profile</a
      >
    </div>

    <!-- Main content -->
    <div class="content">
      <h1>Welcome, {{ session['username'] }}</h1>
      <div class="user-info">
        <p><strong>First Name:</strong> {{ session["firstName"] }}</p>
        <p><strong>Last Name:</strong> {{ session["lastName"] }}</p>
      </div>

      <!-- Flash messages -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
        <div
          class="flash-message {% if message.startswith('Password changed successfully.') %}success{% elif message.startswith('New password and confirm password do not match.') %}error{% endif %}"
        >
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <!-- Change Password Form -->
      <form action="{{ url_for('change_password') }}" method="post">
        <input
          type="password"
          name="new_password"
          id="new_password"
          placeholder="Enter new password"
          required
        />
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm new password"
          required
        />
        <button type="submit">Change Password</button>
      </form>
    </div>

    <div class="scrollable-table" 
    id="table-container" 
    style="display:{% if permission != 'host' %}none{% else %}inline-block{% endif %}; margin-top: 30px; width: 600px; margin-left: 290px; "
    >{{ data | safe }}
    </div>

    <!-- Logout button -->
    <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>

    
  </body>
</html>
